#top-container{
  padding: 1% 15% 7% 15%;
  position: relative;
  text-align: center;
  color: #125C13;

}
#middle-container{
  padding: 7% 15%;
  text-align: center;
  background-color: #1E5128;
}
.info{
  margin: 10px ;
  text-align: center;

}
.middle-p{
  color: #fff;
}
.title-row{
  margin-top: 50px;
}
.h1-surname{
  margin-bottom: 40px;
}
.h2-surname{
margin-bottom: 30px;

}
hr{
  width: 100%;
}
